    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
		  <%= link_to "nor(DEV): Trumps", root_path, class: 'brand' %>
          <div class="nav-collapse collapse">
    <ul id="top-menu" class="nav pull-right">
      <li class="<%= true ? 'active' : '' %>"><%= link_to 'Random Card', random_cards_path %></li>
      <li class="<%= false ? 'active' : '' %>"><%= link_to 'Single Player', root_path %></li>
      <li class="<%= false ? 'active' : '' %>"><%= link_to 'Virtual', root_path %></li>
    </ul>
	          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
