		    <ul id="left-menu" class="nav nav-pills nav-stacked">
			    <li class="<%= controller.class == DecksController ? 'active' : '' %>"><%= link_to 'Decks', decks_path %></li>
			    <li class="<%= controller.class == CardsController ? 'active' : '' %>"><%= link_to 'Cards', cards_path %></li>
			    <li class="<%= controller.class == PlayersController ? 'active' : '' %>"><%= link_to 'Players', players_path %></li>
		    </ul>
          <div class="well sidebar-nav visible-desktop">
            <ul class="nav nav-list">
                <li class="nav-header">Useful Links</li>
			    <li><a href="http://www.meetup.com/Norfolk-Developers-NorDev/" target="_new">nor(DEV):</a></li>
			    <li><a href="http://en.wikipedia.org/wiki/Top_Trumps" target="_new">Top Trumps</a></li>
           </ul>
		 </div>
