		    <ul id="left-menu" class="nav nav-pills nav-stacked">
			    <li class="<%= true ? 'active' : '' %>"><%= link_to 'Login', root_path %></li>
			    <li class="<%= false ? 'active' : '' %>"><%= link_to 'Register', root_path %></li>
			    <li class="<%= false ? 'active' : '' %>"><%= link_to 'Reset Password', root_path %></li>
		    </ul>
          <div class="well sidebar-nav visible-desktop">
            <ul class="nav nav-list">
                <li class="nav-header">Useful Links</li>
			    <li><a href="http://www.rspb.org.uk" target="_new">The RSPB</a></li>
           </ul>
		 </div>
