<h2>Deck</h2>

<p>
  <b>Name:</b>
  <%= @deck.name %>
</p>


<p>
  <b>Num attr:</b>
  <%= @deck.num_attr %>
</p>


<p>
  <b>Attr1:</b>
  <%= @deck.attr1 %>
</p>


<p>
  <b>Attr2:</b>
  <%= @deck.attr2 %>
</p>


<p>
  <b>Attr3:</b>
  <%= @deck.attr3 %>
</p>


<p>
  <b>Attr4:</b>
  <%= @deck.attr4 %>
</p>


<p>
  <b>Attr5:</b>
  <%= @deck.attr5 %>
</p>


<p>
  <b>Attr6:</b>
  <%= @deck.attr6 %>
</p>


<p>
  <b>Attr7:</b>
  <%= @deck.attr7 %>
</p>


<p>
  <b>Attr8:</b>
  <%= @deck.attr8 %>
</p>


<p>
  <b>Attr9:</b>
  <%= @deck.attr9 %>
</p>



<%= link_to 'Edit', edit_deck_path(@deck), class: 'btn btn-primary' %>
<%= link_to 'Back', decks_path, class: 'btn' %>